CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_CONTROLLER_WIFI_SSID_IS_SET=n
CONFIG_CONTROLLER_WIFI_PASSWORD_IS_SET=n
CONFIG_CONTROLLER_TERMINAL_USERNAME_IS_SET=n
CONFIG_CONTROLLER_TERMINAL_PASSWORD_IS_SET=n
CONFIG_CONTROLLER_MQTT_USERNAME_IS_SET=n
CONFIG_CONTROLLER_MQTT_PASSWORD_IS_SET=n
